@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: normal;
  background: linear-gradient(151deg, rgba(1,2,6,1) 0%, rgba(25,36,102,1) 52%, rgba(50,71,200,1) 100%);
  display: flex;
  align-items: center;
}


html,
body {
  scroll-behavior: smooth;
}

main{
	display: flex;
	flex-wrap: wrap;
	max-height: 100vh;
	width: 100%;
}
section{
  width: 100%;  
  padding: 30px 0px;
  min-height: 100vh;
  z-index: 10;
  position: relative;
  background: linear-gradient(151deg, rgba(1,2,6,1) 0%, rgba(25,36,102,1) 52%, rgba(50,71,200,1) 100%);
  transition: 0.5s all;
}

.container {
  max-width: 1300px !important;
}

h1{
	font-family: "Poppins", sans-serif;
	color: #FFF;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 400;
	text-align: center;
	margin: 40px 0px 0px 0px;
}

h2{
	font-family: "Poppins", sans-serif;
	color: #FFF;
	text-transform: uppercase;
	font-size: 52px;
	font-weight: 600;
	text-align: center;
}

p{
	color: #FFF;
	font-size: 22px;
	font-weight: 400;
	text-align: center;
	padding: 20px 0px;
}

span{
	display: inline-block;
	padding: 7px 30px;
	background: #FFF;
	color: rgba(1,2,6,1);
	border-radius: 50px;
	font-weight: 500;
	font-size: 20px;
}

img.star1{
	position: absolute;
	left: 5%;
	top: 10%;
	animation: star-animation-2 7s ease infinite;
}

img.star2{
	position: absolute;
	left: 20%;
	top: 10px;
	max-width: 15px;
	animation: star-animation-1 5s ease infinite;
	animation-delay: 1s;
}

img.star3{
	position: absolute;
	left: 40%;
	top: 10%;
	animation: star-animation-2 10s ease infinite;
	animation-delay: 2s;
}

img.star4{
	position: absolute;
	left: 50%;
	top: 10px;
	max-width: 15px;
	animation: star-animation-1 10s ease infinite;
	animation-delay: 2s;
}

img.star5{
	position: absolute;
	left: 50%;
	top: 35%;
	max-width: 20px;
	animation: star-animation-2 7s ease infinite;
	animation-delay: 1s;
}

img.star6{
	position: absolute;
	left: 20px;
	top: 50%;
	max-width: 15px;
	animation: star-animation-1 5s ease infinite;
	animation-delay: 2s;
}

img.star7{
	position: absolute;
	left: 45%;
	top: 55%;
	max-width: 30px;
	animation: star-animation-2 4s ease infinite;
	animation-delay: 1s;
}

img.star8{
	position: absolute;
	left: 5%;
	top: 70%;
	max-width: 20px;
	animation: star-animation-2 7s ease infinite;
	animation-delay: 1s;
}

img.star9{
	position: absolute;
	left: 20%;
	top: 65%;
	animation: star-animation-2 5s ease infinite;
	animation-delay: 3s;
}

img.star10{
	position: absolute;
	left: 10%;
	bottom: 10%;
	max-width: 15px;
	animation: star-animation-1 10s ease infinite;
	animation-delay: 1s;
}

img.star11{
	position: absolute;
	left: 30%;
	bottom: 5%;
	max-width: 10px;
	animation: star-animation-1 7s ease infinite;
	animation-delay: 2s;
}

img.star12{
	position: absolute;
	left: 50%;
	bottom: 15%;
	max-width: 30px;
	animation: star-animation-2 5s ease infinite;
	animation-delay: 3s;
}

@keyframes star-animation-1{
	0%{transform: scale(0);}
	50%{transform: scale(1);}
	100%{transform: scale(0);}
}

@keyframes star-animation-2{
	0%{transform: scale(0);}
	70%{transform: scale(1);}
	100%{transform: scale(0);}
}
.first_page {
	display: flex;
	align-items: center;
}
.first_page .content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

.first_page .content button{
	padding: 7px 24px;
	border: solid black 1px;
	color: black;
	background: white;
	border-radius: 50px;
	transition: 0.25s all;
}

.first_page .content button:hover{
	background-color: #111843;
	color: white;
}

@media (max-width: 1400px){
	body{
		display: block;
	}
	img.image2{
		max-width: 130px;
	}
	p{
		font-size: 18px;
		padding: 10px 0px;
	}
	section{ 
	  padding: 0px 0px 30px 0px;
	}
}


header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding:20px;
	z-index: 999999999;
}
header .logo.left {
	transition: 0.5s all;
	opacity: 0;
	transform: translateY(20px);
	transition-delay: 0.5s;

}
header .logo.left img{
	width: 80px;
}

header h2{
	font-size: 25px;
	margin-top: 25px;
	transition: 0.5s all;
	opacity: 0;
	transform: translateY(20px);
	transition-delay: 0.5s;

}
.winners_list{
  width: 100%;  
  padding: 30px 0px;
  z-index: 10;
  position: relative;

}
.show_hidden{
	opacity: 1 !important;
	transform: translateY(0px) !important;

}



@keyframes winners_intro {
	from{
		transform: translateY(50vh);
		opacity: 0;
	}
	to{
		transform: translateY(0);
		opacity: 1;
	}
}

.winners_list .gif_anim{
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;	
	display: flex;
	justify-content: space-between;
}

@keyframes firework {
	0%{
		scale: 0;
		opacity: 1;
	}
	
	100%{
		scale: 1;
		opacity: 0;
	}
}
.winners_list .gif_anim img{
	width: 50%;
	opacity: 0;
}
.winners_list.start_anim .gif_anim img{
	animation: firework 3s; 
}
.winners_list .gif_anim img.first{
	transform-origin: left bottom;
}
.winners_list .gif_anim img.second{
	transform-origin: right bottom;
}

.winners_list ._cards{
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
	width: 100%;
margin-top: 100px;
animation: winners_intro 1s;
}

.winners_list ._cards ._card{
	width: calc(25% - 30px);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 5px;

	padding: 10px;
	border-radius: 0 50px 0 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	background: rgba(255, 255, 255, 0.05);
}
.winners_list ._cards ._card img{
	width: 100%;
	margin-bottom: 10px;
	border-radius: 0 50px 0 0;
}
.winners_list ._cards ._card h5,
.winners_list ._cards ._card p{
	color: white;
	padding: 0;
	margin: 0;
}
.winners_list ._cards ._card p.designation,
.winners_list ._cards ._card p.location{
	font-size: 16px;
}
.winners_list ._cards ._card p.location{
	opacity: 0.85;
}

@media screen and (min-width:993px) and (max-width:1500px) {
	.container{
		max-width: 85% !important;
	}
}

@media screen and (min-width:993px) and (max-width:1200px) {
	.winners_list ._cards{
		gap: 22px;
	}
	.winners_list ._cards ._card {
		width: calc(33.3% - 15px);
	}
	header .logo.left{
		width: 55	px;
	}
	header .logo img{
		width: 100% !important;
	}
}

@media (max-width:992px){
	header .logo.left{
		width: 45px;
	}
	header .logo img{
		width: 100% !important;
	}
	.winners_list ._cards{
		gap: 25px;
	}
	.winners_list ._cards ._card{
		width: calc(33.3% - 17px);
	}
}

@media (max-width: 767px){
	.winners_list .gif_anim{
		bottom: 0;
		top: unset;
	}

	header{
		flex-wrap: wrap;
		align-items: center;
	}
	header .title{
		width: 100%;
		text-align: center;
		order: 3;
		font-size: 16px;
	}
	header .logo.right{
		width: 100px;
	}
	header .logo.left{
		width: 25px;
	}
	
	.winners_list ._cards{
		gap: 25px;
	}
	.winners_list ._cards ._card{
		width:100%;
	}
	
	
	img.image1{
		margin-left: -20%;
		margin-bottom: -90px;
	}
	img.image2{
		max-width: 100px;
	}
	h1{
		font-size: 24px;
	}
	h2{
		font-size: 32px;
	}	
	span{
		font-size: 16px;
	}
	img.star12{
		bottom: 10%;
		max-width: 20px;
	}
}
